<?xml version="1.0" encoding="utf-8" ?>
<mapping>
<lobby>
  <char key="." image="lobby_point.png" />
  <char key="0" image="lobby_0.png" />
  <char key="1" image="lobby_1.png" />
  <char key="2" image="lobby_2.png" />
  <char key="3" image="lobby_3.png" />
  <char key="4" image="lobby_4.png" />
  <char key="5" image="lobby_5.png" />
  <char key="6" image="lobby_6.png" />
  <char key="7" image="lobby_7.png" />
  <char key="8" image="lobby_8.png" />
  <char key="9" image="lobby_9.png" />
  <char key="$" image="lobby_dollar.png" />
  <char key="%" image="lobby_percent.png" />
</lobby>
<controls>
  <char key="P" image="controls_P.png" />
  <char key="B" image="controls_B.png" />
  <char key="c" image="controls_cSmall.png" />
  <char key="C" image="controls_C.png" />
  <char key="c" image="controls_cSmall.png" />
  <char key="e" image="controls_eCheck.png" />
  <char key="h" image="controls_h.png" />
  <char key="k" image="controls_k.png" />
  <char key="d" image="controls_d.png" />
  <char key="F" image="controls_F.png" />
  <char key="ll" image="controls_ll.png" />
  <char key="l" image="controls_l.png" />
  <char key="R" image="controls_R.png" />
  <char key="a" image="controls_a.png" />
  <char key="S" image="controls_SUp.png" />
  <char key="s" image="controls_s.png" />
  <char key="T" image="controls_T.png" />
  <char key="t" image="controls_tSmall.png" />
  <char key="o" image="controls_o.png" />
  <char key="$" image="controls_$.png" />
  <char key="i" image="controls_i.png" />
  <char key="e" image="controls_e.png" />
  <char key="." image="controls_point.png" />
  <char key="0" image="controls_0.png" />
  <char key="1" image="controls_1.png" />
  <char key="2" image="controls_2.png" />
  <char key="3" image="controls_3.png" />
  <char key="4" image="controls_4.png" />
  <char key="5" image="controls_5.png" />
  <char key="6" image="controls_6.png" />
  <char key="7" image="controls_7.png" />
  <char key="8" image="controls_8.png" />
  <char key="9" image="controls_9.png" />
</controls>
<pot>
  <char key="." image="pot_point.png" />
  <char key="$" image="pot_$.png" />
  <char key="0" image="pot_0.png" />
  <char key="1" image="pot_1.png" />
  <char key="2" image="pot_2.png" />
  <char key="3" image="pot_3.png" />
  <char key="4" image="pot_4.png" />
  <char key="5" image="pot_5.png" />
  <char key="6" image="pot_6.png" />
  <char key="7" image="pot_7.png" />
  <char key="8" image="pot_8.png" />
  <char key="9" image="pot_9.png" />
</pot>
<bets>
  <char key="." image="bet_point.png" />
  <char key="$" image="bet_$.png" />
  <char key="0" image="bet_0.png" />
  <char key="1" image="bet_1.png" />
  <char key="2" image="bet_2.png" />
  <char key="4" image="bet_4.png" />
  <char key="5" image="bet_5.png" />
  <char key="6" image="bet_6.png" />
</bets>
<player>
  <char key="." image="player_point.png" />
  <char key="0" image="player_0.png" />
  <char key="1" image="player_1.png" />
  <char key="2" image="player_2.png" />
  <char key="3" image="player_3.png" />
  <char key="4" image="player_4.png" />
  <char key="5" image="player_5.png" />
  <char key="6" image="player_6.png" />
  <char key="7" image="player_7.png" />
  <char key="8" image="player_8.png" />
  <char key="9" image="player_9.png" />
  <char key="$" image="player_$.png" />
  <char key="a" image="player_a.png" />
  <char key="b" image="player_b.png" />
  <char key="c" image="player_c.png" />
  <char key="d" image="player_d.png" />
  <char key="e" image="player_e.png" />
  <char key="g" image="player_g.png" />
  <char key="h" image="player_h.png" />
  <char key="i" image="player_i.png" />
  <char key="k" image="player_k.png" />
  <char key="l" image="player_l.png" />
  <char key="n" image="player_n.png" />
  <char key="m" image="player_m.png" />
  <char key="o" image="player_o.png" />
  <char key="p" image="player_p.png" />
  <char key="q" image="player_q.png" />
  <char key="r" image="player_r.png" />
  <char key="s" image="player_s.png" />
  <char key="t" image="player_t.png" />
  <char key="u" image="player_u.png" />
  <char key="v" image="player_v.png" />
  <char key="w" image="player_w.png" />
  <char key="y" image="player_y.png" />
  <char key="B" image="player_up_B.png" />
  <char key="E" image="player_up_E.png" />
  <char key="L" image="player_up_L.png" />
  <char key="J" image="player_up_J.png" />
  <char key="P" image="player_up_P.png" />
  <char key="T" image="player_up_T.png" />
  <char key="H" image="player_up_H.png" />
  <char key="R" image="player_up_R.png" />
  <char key="S" image="player_up_S.png" />
</player>
</mapping>